accelerate==0.19.0
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==1.3.0
altair==4.2.2
amqp==5.1.1
antlr4-python3-runtime==4.7.2
anyio==3.6.2
anyjson==0.3.3
appopener==1.6
APScheduler==3.6.3
apturl==0.5.2
argcomplete==1.10.3
asgiref==3.7.2
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
autobahn==23.6.1
Automat==22.10.0
Babel==2.8.0
bcrypt==3.2.0
beautifulsoup4==4.8.2
bidict==0.22.1
billiard==3.6.4.0
bleach==5.0.1
blinker==1.4
Brlapi==0.8.3
bs4==0.0.1
cachetools==4.2.2
callable==0.1.2
catalogue==2.0.8
ccsm==0.9.14.1
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
channels==4.0.0
channels-redis==4.1.0
chardet==3.0.4
charset-normalizer==3.1.0
ci-info==0.3.0
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle==2.2.1
cmake==3.26.1
cnocr==2.2.2.3
cnstd==1.2.2
colorama==0.4.4
coloredlogs==15.0.1
Colr==0.9.1
command-not-found==0.3
commonmark==0.9.1
compizconfig-python==0.9.14.1
compressed-rtf==1.0.6
configobj==5.0.8
configparser==5.3.0
constantly==15.1.0
contourpy==1.0.7
coreapi==2.3.3
coreschema==0.0.4
cron-descriptor==1.4.0
cryptography==3.4.8
cupshelpers==1.0
curl-cffi==0.5.6
customtkinter==0.3
cycler==0.11.0
dacite==1.8.1
daphne==4.0.0
darkdetect==0.8.0
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
deprecation==2.1.0
diffusers==0.14.0
distro==1.8.0
distro-info===1.1build1
dj-database-url==0.5.0
Django==4.2.2
django-allauth==0.54.0
django-celery==3.3.1
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-ckeditor==6.1.0
django-cors-headers==4.0.0
django-crispy-forms==1.12.0
django-js-asset==1.2.2
django-phonenumber-field==5.2.0
django-rest-coreapi-schema==0.1.2
django-timezone-field==5.0
django-upgrade==1.13.0
django-validator==0.3.0
django-validators==1.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
docx2txt==0.8
duplicity==0.8.21
ebcdic==1.1.1
einops==0.6.0
entmax==1.1
entrypoints==0.4
et-xmlfile==1.1.0
etelemetry==0.3.0
evdev==1.4.0
exceptiongroup==1.1.0
extract-msg==0.28.7
fake-useragent==1.1.3
fastapi==0.88.0
fasteners==0.14.1
filelock==3.9.0
fitz==0.0.1.dev2
Flask==2.2.3
flatbuffers==23.3.3
fonttools==4.38.0
fpdf==1.7.2
fpdf2==2.6.1
fragile==0.0.47
freeGPT==1.1.6
frozenlist==1.3.3
fsspec==2023.4.0
future==0.18.2
galai==1.1.6
gitdb==4.0.10
GitPython==3.1.31
google==3.0.0
gpg===1.16.0-unknown
gpt4all==0.3.0
greenlet==2.0.2
gunicorn==20.1.0
gym==0.20.0
gyp==0.1
h11==0.14.0
httpcore==0.16.3
httplib2==0.20.2
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.12.1
humanfriendly==10.0
hyperlink==21.0.0
idna==3.3
imageio==2.25.1
imageio-ffmpeg==0.4.8
IMAPClient==2.1.0
img2pdf==0.4.4
importlib-metadata==4.6.4
incremental==22.10.0
input-remapper==1.4.0
install==1.3.5
isodate==0.6.1
itsdangerous==2.1.2
itypes==1.2.0
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
keyring==23.5.0
kiwisolver==1.4.4
kombu==5.3.0
language-selector==0.1
latex2mathml==3.75.5
latex2sympy==1.0.3
latex2sympy2==1.8.3
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.2
libcomps==0.1.15
lightning-utilities==0.8.0
lit==16.0.0
llama-cpp-python==0.1.44
llvmlite==0.39.1
lockfile==0.12.2
looseversion==1.1.2
louis==3.20.0
lxml==4.9.2
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==2.6.10
MarkupSafe==2.1.2
mathy==0.9.5
mathy-core==0.8.6
mathy-envs==0.11.4
matplotlib==3.7.1
monotonic==1.6
more-itertools==8.10.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.4
multidict==6.0.4
munch==2.5.0
netifaces==0.11.0
networkx==3.0
nibabel==5.1.0
nipype==1.8.6
nltk==3.8.1
numba==0.56.4
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.0
olefile==0.46
onnx==1.14.0
onnxruntime==1.14.1
openai==0.25.0
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
openpyxl==3.0.10
outcome==1.2.0
packaging==23.0
pandas==1.5.2
pandas-stubs==1.5.2.221213
parallelformers==1.2.7
paramiko==2.9.3
pathlib==1.0.1
pdfminer.six==20191110
pexpect==4.8.0
phonenumbers==8.12.29
pika==1.3.1
pikepdf==7.1.2
Pillow==9.0.1
pix2tex==0.1.1
pix2text==0.2.2.1
plotly==5.13.1
pocketsphinx==5.0.0
Polygon3==3.0.9.1
proglog==0.1.10
prompt-toolkit==3.0.36
protobuf==3.20.3
prov==2.0.0
psutil==5.9.4
psycopg2==2.9.1
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.11
pycairo==1.20.1
pyclipper==1.3.0.post4
pycparser==2.21
pycryptodome==3.17
pycups==2.0.1
pydantic==1.10.2
pydbus==0.6.0
pydeck==0.8.0
pydot==1.4.2
Pygments==2.2.0
PyGObject==3.42.1
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
pymailtm==1.1.1
Pympler==1.0.1
PyMuPDF==1.22.0
PyNaCl==1.5.0
pynecone==0.1.19
pynput==1.7.6
pyOpenSSL==21.0.0
pyparsing==2.4.7
pypdf==3.2.1
PyPDF2==3.0.1
pyperclip==1.8.2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyRFC3339==1.1
pyrsistent==0.19.3
PySocks==1.7.1
pyTelegramBotAPI==4.11.0
pytesseract==0.3.10
python-apt==2.3.0+ubuntu2.1
python-crontab==2.7.1
python-dateutil==2.8.1
python-debian===0.1.43ubuntu1
python-decouple==3.7
python-dotenv==1.0.0
python-engineio==4.3.4
python-magic==0.4.27
python-multipart==0.0.5
python-pptx==0.6.21
python-socketio==5.7.2
python-telegram-bot==13.7
python-vlc==3.0.18121
python-xlib==0.33
python3-openid==3.2.0
pytorch-lightning==2.0.2
pyttsx3==2.90
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pyxdg==0.27
pyxnat==1.5
PyYAML==5.4.1
qudida==0.0.4
rake-nltk==1.0.6
random-username==1.0.2
rdflib==6.3.2
redis==4.5.5
regex==2022.10.31
reportlab==3.6.8
requests==2.28.2
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==12.6.0
rpm==4.17.0
scikit-build==0.17.3
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
screeninfo==0.8.1
seaborn==0.12.2
SecretStorage==3.3.1
selenium==4.8.0
semver==2.13.0
service-identity==21.1.0
shapely==2.0.1
simplejson==3.17.6
six==1.12.0
sketchy==1.0.1
smmap==5.0.0
smsframework==0.0.9.post3
smsframework-clickatell==0.0.3.post0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a32
sqlmodel==0.0.8
sqlparse==0.4.2
srsly==2.4.5
starlette==0.22.0
streamlit==1.20.0
sympy==1.11.1
systemd-python==234
tenacity==8.2.2
tesseract==0.1.3
textcortex==2.0.3
textract==1.6.5
threadpoolctl==3.1.0
tifffile==2023.3.21
timm==0.5.4
tinycss2==1.1.1
tk==0.1.0
tls-client==0.2.1
tokenize-rt==5.0.0
tokenizers==0.13.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.0
torchmetrics==0.11.4
torchvision==0.15.1
tornado==6.2
tqdm==4.64.1
traits==6.3.2
transformers==4.25.1
trio==0.22.0
trio-websocket==0.9.2
triton==2.0.0
twilio==7.16.0
Twisted==22.10.0
txaio==23.1.1
typer==0.4.2
types-pytz==2022.7.0.0
typing_extensions==4.4.0
tzdata==2023.3
tzlocal==4.3
ubuntu-advantage-tools==27.9
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
undetected-chromedriver==3.4.7
Unidecode==1.3.6
uritemplate==4.1.1
urllib3==1.26.5
usb-creator==0.3.7
uvicorn==0.20.0
uvloop==0.17.0
validators==0.20.0
vboxapi==1.0
vine==5.0.0
wadllib==1.3.6
wasabi==1.1.1
watchdog==3.0.0
watchfiles==0.19.0
wcwidth==0.2.6
webencodings==0.5.1
websockets==10.4
Werkzeug==2.2.3
whitenoise==5.3.0
wifimangement-linux==0.0.1
wsproto==1.2.0
x-transformers==0.15.0
xdg==5
xkit==0.0.0
xlrd==1.2.0
XlsxWriter==3.1.0
xxhash==3.2.0
yarl==1.9.2
zipp==1.0.0
zope.interface==6.0
